 <footer class="footer border-top py-4">
    <div class="container-lg">
      <div class="row1">
        <div class="col-lg-12">
          <p class="m-0 text-center">By Sanoj C Sam &copy;2022</p>
          
        </div>
      </div>
    </div>


  </footer>