
{{>header}}

{{#if message.error}}
<div class="alert alert-danger">{{message.error}}</div>
{{/if}}


{{#if message.success}}
<div class="alert alert-success">{{message.success}}</div>
{{/if}}



<section class="bg-light">

<div class="container2">
  <div class="row">
    <div class="col-12">
      <h1 class="text-white text-center mt-5"> Details</h1>
      <div class="feature-tags d-flex ml-2">
        <ul class="tags-lists col-sm-4">
          <h3 class="text-white mt-2">Web Developement</h3>
           <li><a href="" >Nodejs</a></li>
           <li><a href="">Python</a></li>
           <li><a href="">Php</a></li>
           <li><a href="">Ruby</a></li>
        </ul>
         <ul class="tags-lists col-sm-4">
          <h3 class="text-white mt-2">Web Designing</h3>
           <li><a href="" >Html,CSS & Javascript</a></li>
           <li><a href="/angular-blog">Angular</a></li>
           <li><a href="">Vue.js</a></li>
           <li><a href="">React.js</a></li>
        </ul>
        <ul class="tags-lists col-sm-4">
          <h3 class="text-white mt-2">Artificial Intelligence</h3>
           <li><a href="" >Machine Learning</a></li>
           <li><a href="">Deep learning</a></li>
           <li><a href="">Data Science</a></li>
           <li><a href="">Robotics</a></li>
        </ul>
      
         </div>
     
      </div>
       
      </div>

  </div>
  </div>


  <!--PART TWO MAIN-->
<section class="featured mtb-40 bg-light">
  <div class="container3">
    <div class="row ">
     
       <h2 class="pt-3">Latest Topics</h2>

        <div class="col-md-4 pt-4 d-flex">
          <div class="boxs">
             <img src="/images/download (1).png" alt="">

             <h4>Angular vs React?</h4>

             <p>Posted on 1-4-2023</p>
             <a href="/angular-blog">Join</a>
          </div>

          <div class="col-md-4  d-flex ">
          <div class="boxs">
             <img src="/images/download (3).jfif" alt="">

             <h4>Cons & Pros of Artificial Intelligence?</h4>

             <p>Posted on 23-3-2023</p>

             <a href="">Join</a>
          </div>
           <div class="col-md-4  d-flex">
          <div class="boxs">
             <img src="/images/download.png" alt="">

             <h4>Difference between nodejs and python?</h4>

             <p>Posted on 23-3-2023</p>
             <a href="">Join</a>
          </div>

        </div>

        
      
    </div>
  </div>
</section>
<section class="featured mtb-40 bg-light">
  <div class="container3">
    <div class="row ">
     
      

        <div class="col-md-4 pt-4 d-flex ms-3">
          <div class="boxs">
             <img src="/images/images (1).jfif" alt="">

             <h4>Risk and Benefit of AI?</h4>

             <p>Posted on 13-2-2023</p>
             <a href="">Join</a>
           
          </div>

          <div class="col-md-4  d-flex ">
          <div class="boxs pl-2">
             <img src="/images/download (2).png" alt="">

             <h4>RDMS VS NON-RDMS?</h4>

             <p>Posted on 23-3-2023</p>
             <a href="">Join</a>
          </div>
           <div class="col-md-4  d-flex">
          <div class="boxs">
             <img src="/images/interview1.jfif" alt="">

             <h4>Interview Questions for Fresher vs Experience?</h4>

             <p>Posted on 23-3-2023</p>
             <a href="">Join</a>
          </div>

        </div>

        
      
    </div>
  </div>
</section>

</section>

{{>footer}}